<launch>
  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py"/>

  <node pkg="tf2_ros" exec="static_transform_publisher" name="tf_footprint_base"
        args="0 0 0 0 0 0 base_footprint base_link" />

  <node pkg="gazebo_ros" exec="spawn_entity.py" name="spawn_model" output="screen"
        args="-file $(find-pkg-share robot_arm_urdf)/urdf/robot_arm_urdf.urdf -urdf -entity robot_arm_urdf -z 0.1" />

  </launch>